.chart-section {
  padding: 20px;
  text-align: center;
  position: relative;

  header {
    font-size: 1.5em;
    font-weight: bold;
  }

  .chart {
    margin: 20px auto 0px;
    > * {
      margin: 0 auto;
    }
  }
}

.axes {
  height: 12.5rem;
  width: 100%;
  color: #bc71c9;
}
